*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}
.contenedor_flechas{
 display:none;
}
body{
    display:flex;
    flex-direction:column;
    background-color: azure;
    padding:  auto;
    justify-content:center;
    align-items:center;
    width:100vw;
    height:90vh;
}
a{
    text-decoration: none;
    color: black;
}
nav{
    display: inline-block;
    margin-right:5px;
}
.nav_ul{
    display: flex;
}
.nav_li{
    padding: 5px 15px;
    list-style: none;
    background-color: rgb(199, 210, 220);
}
.nav_li:hover{
    padding: 5px 15px;
    list-style: none;
    background-color: rgb(175, 184, 192);
}
.conteiner_nav{
    position:relative;
    height: 400px;
    width: 600px;
    background-color: rgb(185, 195, 203);
}
.historial{
    display: flex;
    height: 400px;
    width: 600px;
    background-color: rgb(199, 210, 220);
    margin-top: 31px;
    margin-left: 5px;
}

main{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
.btn-descarga{
   display: flex;
   text-align: center;
    align-items: center;
    justify-content: center;
   height:50px;
}
.btn-descarga a{
    align-content: center;
    background-color: rgb(211, 234, 255);
    height:40px;
    padding: 10px;
 }
 .btn-descarga a:hover{
    align-content: center;
    background-color: rgb(194, 217, 238);
    height:40px;
    padding: 10px;
 }
 @media screen and (max-width :1200px){
    .recuadro{
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        width: 600px;
        margin: auto;
    }
    main{
        position: relative;
        transform: translateX(25%);
        
    }
   .contenedor_flechas{
    display:inline-block;
    
   }
  .contenedor_flechas li{
    display:flex;
    border-radius:100%;
   position:absolute;
   opacity:0.7;
   width:40px;
   height:40px;
   justify-content:center;
   align-items:center;
   top:40vh;
   font-size:40px;
  }
    .contenedor_flechas li:hover{
    display:flex;
    border-radius:100%;
   position:absolute;
   opacity:0.7;
   justify-content:center;
   align-items:center;
   text-align:center;
   font-size:40px;
   
  }
  .left{
   left:-5px;
  }
  .right{
   right:-5px;
  }
 }
 @media screen and (max-width :600px){
    .recuadro{
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        width: 320px;
        margin: auto;
    }
    main{
        position: relative;
        transform: translateX(25%);
    }
    .conteiner_nav{
        width: 320px;
    }
    .form_control{
        flex-direction: column;
    }
    .historial,.historial_pedido{
        width: 320px !important;
    }
    .opciones{
        width: 320px !important;
    }
 }