.historial_pedido{
    display: flex;
    width:600px;
    background-color: rgb(211, 234, 255);
    justify-content: center;
    border: 1px solid black;
}
.form2{
    position: relative;    
    width: 600px;
    height: 400px;
}
.historial_titulo{
    padding: 10px;
}
.historial_envio {
    align-content: center;
    background-color: rgb(211, 234, 255);
    padding:  5px 5vh;
    border: none;
    margin: 5px 5px;
}
.historial_envio:hover{
    background-color: rgb(194, 217, 238);
    cursor: pointer;
}
.opciones{
    position: absolute;
    display: flex;
    width: 600px;
    justify-content:center;
    align-items: center;
    bottom: 0;
    margin:auto;
}
