$color1: rgb(247 246 249);
$color2: rgb(239 237 241);
$color3: rgb(217 214 225);
$color4: rgb(184 178 199);
$color5: rgb(144 136 168);
$color6: rgb(115 106 141);
$color7: rgb(93 84 117);
$color8: rgb(76 69 95);
$color9: rgb(66 60 80);
$color10: rgb(58 53 69);
$color11: rgb(22 20 26);