header{
    nav{
        ul{
            li{
                background-color: $color8;
                border-radius: 10px 10px 0 0;
                margin: 0 .5rem 0 0;
                a{
                    color: aliceblue;
                }
            }
        }
    }
}